<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SerializationFolder">
        <patch:attribute name="value">$(dataFolder)/serialization_custom</patch:attribute>
      </setting>
    </settings>
    <commands>
      <command name="itemsync:dumpitem" patch:instead="command[@name='itemsync:dumpitem']" type="Sitecore.CustomSerialization.Commands.DumpItemCommand,Sitecore.CustomSerialization" />
      <command name="itemsync:dumptree" patch:instead="command[@name='itemsync:dumptree']" type="Sitecore.CustomSerialization.Commands.DumpTreeCommand,Sitecore.CustomSerialization" />
      <command name="itemsync:loadalldatabases" patch:instead="command[@name='itemsync:loadalldatabases']" type="Sitecore.CustomSerialization.Commands.LoadAllDatabasesCommand,Sitecore.CustomSerialization" />
      <command name="itemsync:loaddatabase" patch:instead="command[@name='itemsync:loaddatabase']" type="Sitecore.CustomSerialization.Commands.LoadDatabaseCommand,Sitecore.CustomSerialization" />
      <command name="itemsync:loaditem" patch:instead="command[@name='itemsync:loaditem']" type="Sitecore.CustomSerialization.Commands.LoadItemCommand,Sitecore.CustomSerialization" />
      <command name="itemsync:loadtree" patch:instead="command[@name='itemsync:loadtree']" type="Sitecore.CustomSerialization.Commands.LoadTreeCommand,Sitecore.CustomSerialization" />
    </commands>
    <pipelines>
      <serialization.dumpitem>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.ReadIndexFile, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.UpdateIndexFile, Sitecore.CustomSerialization">
          <param desc="Recurse all descendants">false</param>
        </processor>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.WriteIndexFile, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.UpdateItemFile, Sitecore.CustomSerialization">
          <param desc="Recurse all descendants">false</param>
        </processor>
      </serialization.dumpitem>
      <serialization.dumptree>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.ReadIndexFile, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.UpdateIndexFile, Sitecore.CustomSerialization">
          <param desc="Recurse all descendants">true</param>
        </processor>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.WriteIndexFile, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.UpdateItemFile, Sitecore.CustomSerialization">
          <param desc="Recurse all descendants">true</param>
        </processor>
      </serialization.dumptree>
      <serialization.loaditem>
        <processor type="Sitecore.CustomSerialization.Pipelines.LoadItem.LoadItemFromFile, Sitecore.CustomSerialization">
          <param desc="Revert item (overwrite in sitecore)">false</param>
        </processor>
      </serialization.loaditem>
      <serialization.revertitem>
        <processor type="Sitecore.CustomSerialization.Pipelines.LoadItem.LoadItemFromFile, Sitecore.CustomSerialization">
          <param desc="Revert item (overwrite in sitecore)">true</param>
        </processor>
      </serialization.revertitem>
      <serialization.loadtree>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.ReadIndexFile, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.LoadItem.LoadItemsFromFiles, Sitecore.CustomSerialization">
          <param desc="Revert items (overwrite in sitecore)">false</param>
        </processor>
      </serialization.loadtree>
      <serialization.reverttree>
        <processor type="Sitecore.CustomSerialization.Pipelines.DumpItem.ReadIndexFile, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.LoadItem.LoadItemsFromFiles, Sitecore.CustomSerialization">
          <param desc="Revert items (overwrite in sitecore)">true</param>
        </processor>
      </serialization.reverttree>
      <serialization.serializefieldvalue>
        <processor type="Sitecore.CustomSerialization.Pipelines.SerializeFieldValue.Xml, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.SerializeFieldValue.Html, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.SerializeFieldValue.IdList, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.SerializeFieldValue.Default, Sitecore.CustomSerialization"/>
      </serialization.serializefieldvalue>
      <serialization.deserializefieldvalue>
        <processor type="Sitecore.CustomSerialization.Pipelines.DeserializeFieldValue.Default, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.DeserializeFieldValue.IdList, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.DeserializeFieldValue.Html, Sitecore.CustomSerialization"/>
        <processor type="Sitecore.CustomSerialization.Pipelines.DeserializeFieldValue.Xml, Sitecore.CustomSerialization"/>
      </serialization.deserializefieldvalue>
    </pipelines>
  </sitecore>
</configuration>